  <footer>
    <p>Follow Me:</p>
    <div class="socials">
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
    </div>
    <p>© 2025 Mohit. Created With ❤️ by HRSmeshers</p>
  </footer>