
<header>
    <nav class="navbar">
      <div class="logo">Mo<span>hit</span></div>
      <ul class="nav-links">
        <li><a href="/">Portfolio</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/eduction">Education</a></li>
      </ul>
      <a href="#contact" class="btn">Contact Me</a>
    </nav>
  </header>
