<!DOCTYPE html>
<html lang="en">
<head>
           <%- include("includes/headerlinks.ejs") %>
</head>
<body>
   
           <%- include("includes/navbar2.ejs") %>

    <!--main Header-->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                  <!--lest side div-->
                  <div class="col-md-6 col-12 main_header_right align-items-center">
                  <figure>
                      <img class="AboutImg" src="/img/mohit.jpg" alt="Mohit Parmar" class="img-fluid" title="HRSmeshers">
                  </figure>  
                </div>

                    <div class="col-md-6 col-12 main_header_left">
                      <p>WelCome to HRSmeshers</p>
                       <h1>I Am A <span class="text_color">MERN Stack Devloper</span>  & coder</h1>
                         <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mohit Parmar <br>
                          ( founder of <span class="com-text">HRSmesher's</span>)
                        </p>
                       <a href="/"><button>About Me</button></a>
                    </div>
                    <!--lest side div-->
                    <
               
                </div>
            </div>
       </div>
    </div>
    <!--footer code-->
           <%- include("includes/footer2.ejs") %>
</body>
</html>