<!--boiler plats-->
<% layout("Layouts/Boilerplats") %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <div id="header">
            <h1><b></em>My Awesome Projects</em></b></h1>
      </div>

<div class="CardContainer"> 

    <!-- Project :-1 -->
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img  src="https://webdamn.com/wp-content/uploads/2019/11/build-weather-website-with-php-min.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Weather Site</h5>
        <p class="card-text">I Am Creating This Butiful website using Nodejs .
        I gained knowledge of <span class="heshteck">#API</span> and <span class="heshteck">#Routes</span> while creating this project. With the help of this project we can get weather related information.                   
        </p>
          <a href="/home"><button type="button" class="btn btn-danger">Visit To Site</button></a>
      </div>
    </div>
  </div>
</div>

    <!-- Project :-2 -->
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img  src="https://tse2.mm.bing.net/th/id/OIP.bP9tjMnV6cqe9Ru5S0F3tQHaHa?pid=Api&P=0&h=180" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Only for Music</h5>
        <p class="card-text"> I created This website Using <span class="heshteck">#HTML</span> , <span class="heshteck">#CSS</span> And <span class="heshteck">#JavaScript</span>               
          you can click to  play , pause and chage music . it's was created in learnings purpose  , so go and play lovely song  and do the maind fresh
        </p>
          <a href="/Spotify"><button type="button" class="btn btn-danger">Visit To Site</button></a>
      </div>
    </div>
  </div>
</div>






</div>

