<!--boiler plats-->
<% layout("../Layouts/Boilerplats") %>


  <section class="hero">
    <div class="hero-content">
      <h1>Hi <br>I'm <span>Mohit Parmar</span><br /></h1><h2>A <span class="my-info"> MERN STACK </span> Developer and (founder of <span class="com-name">HRsmesher's</span>)</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque omnis voluptatem necessitatibus.</p>
      <div class="hero-buttons">
        <a href="#" class="btn orange">Hire Me</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="img/m4.jpg" alt="Mohit" />
    </div>
  </section>

  <section class="about">
    <div class="about-image">
      <img src="/img/m4.jpg" alt="Mohit" />
    </div>
    <div class="about-content">
      <h2>About <span>Me</span></h2>
      <h3>Backend Developer</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, velit? Debitis, amet assumenda. Velit eveniet dolore voluptate facilis pariatur dolores!</p>
      <a href="/img/resume.pdf" download class="btn orange">Download CV</a>
    </div>
  </section>

  <section class="contact" id="contact">
    <h2>Contact <span>Me</span></h2>
    <form>
      <input type="text" placeholder="Full Name" required />
      <input type="email" placeholder="Email Address" required />
      <input type="text" placeholder="Subject" required />
      <textarea placeholder="Your Message" rows="5" required></textarea>
      <button type="submit" class="btn dark">Send Message</button>
    </form>
  </section>


  